beszel_data/
beszel_socket/

bz2/
fastdl/data

adguard/work/*
!adguard/work/data/
adguard/work/data/*
!adguard/work/data/filters/
!adguard/work/data/filters/*

jellyfin/config
jellyfin/cache

wg-easy/wireguard

ente/postgres
ente/garage-meta
ente/garage-data
ente/museum.yaml
ente/garage.toml
ente/data
ente/.env
