services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:13-rootless
    container_name: forgejo
    user: 1000:1000
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__SERVER__HTTP_PORT=3003
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=db:5432
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
      - FORGEJO__database__PASSWD=forgejo
    restart: always
    networks:
      - proxy
      - forgejo-net
    volumes:
      - ./data:/var/lib/gitea
      - ./conf:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.forgejo.entrypoints=http"
      - "traefik.http.routers.forgejo.rule=Host(`git.domain.tld`)"
      - "traefik.http.middlewares.forgejo-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.forgejo.middlewares=forgejo-https-redirect"
      - "traefik.http.routers.forgejo-secure.entrypoints=https"
      - "traefik.http.routers.forgejo-secure.rule=Host(`git.domain.tld`)"
      - "traefik.http.routers.forgejo-secure.tls=true"
      - "traefik.http.routers.forgejo-secure.service=forgejo-server"
      - "traefik.http.services.forgejo-server.loadbalancer.server.port=3003"
      - "traefik.docker.network=proxy"
    ports:
      - "222:2222"
    depends_on:
      - db

  db:
    image: postgres:14
    restart: always
    environment:
      - POSTGRES_USER=forgejo
      - POSTGRES_PASSWORD=forgejo
      - POSTGRES_DB=forgejo
    networks:
      - forgejo-net
    volumes:
      - ./postgres:/var/lib/postgresql/data

networks:
  proxy:
    external: true
  forgejo-net:
    external: true
