services:
  beszel-hub:
    image: henrygd/beszel:latest
    container_name: beszel-hub
    restart: unless-stopped
    volumes:
      - ./beszel_data:/beszel_data
      - ./beszel_socket:/beszel_socket
    environment:
      - "APP_URL=https://beszel.domain.tld"
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beszel-hub.entrypoints=http"
      - "traefik.http.routers.beszel-hub.rule=Host(`beszel.domain.tld`)"
      - "traefik.http.middlewares.beszel-hub-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.beszel-hub.middlewares=beszel-hub-https-redirect"
      - "traefik.http.routers.beszel-hub-secure.entrypoints=https"
      - "traefik.http.routers.beszel-hub-secure.rule=Host(`beszel.domain.tld`)"
      - "traefik.http.routers.beszel-hub-secure.tls=true"
      - "traefik.http.routers.beszel-hub-secure.service=beszel-hub-dashboard"
      - "traefik.http.services.beszel-hub-dashboard.loadbalancer.server.port=8090"
      - "traefik.docker.network=proxy"

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    # uncomment if you're aware of the risks and still want net monitoring
    # network_mode: host
    networks:
      - proxy
      - socket-proxy-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./beszel_socket:/beszel_socket
    environment:
      - DOCKER_HOST=tcp://docker-socket-proxy:2375
      - LISTEN=/beszel_socket/beszel.sock
      - HUB_URL=https://beszel.domain.tld
      # TOKEN can be retrieved from /settings/tokens
      - TOKEN=TOKENHERE
      # Replace this PUBLIC_KEY with the Public Key from the Beszel Hub on the Add a System menu.
      - 'KEY=PUBLIC_KEY'

networks:
  proxy:
    external: true
  socket-proxy-net:
    external: true
